@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>
        <span class="glyphicon glyphicon-book" aria-hidden="true"> Rapport</span>
    </h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 contact">
        <ol class="">
            <!-- <li>
         <a href="~/Rapport/FicheEns">
             <span class="glyphicon glyphicon-save-file" aria-hidden="true"> </span>
             Fiche signalétique d'un enseignant
         </a>
     </li>
     <li>
         <a href="~/Rapport/ChoixEtu">
             <span class="glyphicon glyphicon-save-file" aria-hidden="true"> </span>
             Fiche signalétique d'un étudiant
         </a>
     </li>-->
            <li>
                <a href="~/Departement/EtatDepartement">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"> </span>
                    Liste des départements avec leur responsable
                </a>
            </li>
            <!-- <li>
         <a href="~/Rapport/EtatCourse">
             <span class="glyphicon glyphicon-save-file" aria-hidden="true"> </span>
             Liste des enseignants pour chaque matière
         </a>
     </li>-->
            <li>
                <a href="~/Rapport/EtatEtuCol">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"> </span>
                    Liste des etudiants avec leur note par college
                </a>
            </li>
            <li>
                <a href="~/Rapport/EtatEtuDep">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"> </span>
                    Liste des etudiants avec leur note par département et college
                </a>
            </li>
            <li>
                <a href="~/Rapport/Etat">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"> </span>
                    Liste des matières dans lesquelles l'etudiant n'a pas composé
                </a>
            </li>
            <li>
                <a href="~/Rapport/EtatReleve">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"> </span>
                    Relevé de notes
                </a>
            </li>

        </ol>
    </div>
</div>