@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About</h1>
    <p class="lead"></p>
</div>

<div class="contact">
    <h2> KolejManager </h2>
    <p>
        College management web application used by colleges administration. 
    </p>
    <h3>Features</h3>
    <ul style="list-style-type:none">
        <li>- Manage students, teachers, courses, departments and student ratings</li>
        <li>- Average marks by: course, student, department</li>
        <li>- List students by subject</li>
        <li></li>
    </ul>
</div>

