@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contact</h1>
    <p class="lead"></p>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 contact">
            <h2> Instituit Africain d'informatique </h2>
            <address>
                Douala - Cameroun<br />
                <strong>B.P : </strong>2178<br />
                <strong><abbr title="Phone">Tel:</abbr></strong>
                <a href="cel:0023722332565">+237 22332565</a> <br />
                <strong><abbr title="Mail">Email:</abbr></strong>
                <a href="mailto:iaicameroun@iaicameroun.com">iaicameroun@iaicameroun.com</a> <br />
            </address>
        </div>
    </div>
</div>
